<!-- Template Helper: sidebar, which can used in different pages-->
<!--CUSTOMIZE: Build menu structure as needed-->
<nav class="col-3 col-xl-2 col-md-3 sidebar dbl-margin-top" role="navigation">
    <ul id="rootSidebar">
        <li class="sidebar__item selected">
            <a href="/" tabindex="0" title="Assets" target="_self">
                <span class="icon-lightbulb"></span>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar__item selected">
            <a href="/add" tabindex="0" title="Assets" target="_self">
                <span class="icon-thumbnail-view"></span>
                <span>Register Endpoint</span>
            </a>
        </li>
    </ul>
</nav>
<!--CUSTOMIZE END-->
